body{ 
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: 'Montserrat';font-size: 22px;
}

.background-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 0;
  }

.background-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.topnav {
    padding-right: 5%;
    z-index: 2;
}

.topnav a{
    float: left;
    color: rgb(255, 255, 255);
    text-align: end;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover{ 
    color: #00ddff;
    text-decoration: underline;
}

.topnav a.active{ 
    font-weight: bolder;
    color: white;
    text-decoration: underline;
}

.logo-nav{
    flex: 1;
    padding-left: 20px;
}

.nav-main{
    display: flex;
    width: 100%;
    position: absolute;
}

.contact-main-container{
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: #00ddff26;
}

.contact-main-container h6{
    font-weight: lighter;
    margin-left: 20px;
}

.contact-quote-container{
    flex: 1;
    color: white;
    padding-left: 50px;
}

.contact-right-container{
    flex: 1;
    margin-left: 200px;
    /* background-color: rgba(128, 128, 128, 0.693); */
}

.contact-right-container h4{
    color: white;
}

.contact-right-container h6{
    color: white;
    margin-left: 0;
}


.input-form{
    margin: 5px;
    width: 80%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: none;
}

.input-form-longer{
    width: 80%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border-style: none;
}

.contact-info-main{
    margin-bottom: -40px;
}

.contact-info-container{
    display: flex;
    flex-wrap: wrap;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust spacing between items as needed */
}

.submit-button{
    width: 12%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    top: 75%;
    left: 732px;
    background-color: #005d6c;
}

.submit-button h4{
    color: white;
}

.submit-button:hover{
    background-color: #00a7c1;
}
